<h1 class="main_text">Schedule Event</h1>
<div class="main">
    <form>
        <label for="title">Title</label>
        <input id="title" type="text" name="title" placeholder="Enter Event's Name...">

        <br>

        <label for="type">Event Type</label>
        <select name="type" id="type" required>
            <option value="" disabled selected>Choose Event's Type</option>
            <option value="open">Open</option>
            <option value="paid">Paid</option>
            <option value="private">Private</option>
        </select>

        <br>

        <div class="container">
            <div class ="row">
                <div class="form-group name1 col-md-6">
                    <label for="startt">Start Time</label>
                    <input type="time" name="startt" id="startt" class="form-control">
                </div>
                <div class="form-group name1 col-md-6">
                    <label for="endt">End Time</label>
                    <input type="time" name="endt" id="endt" class="form-control">
                </div>
            </div>
        </div>
        <div class="container">
            <div class ="row">
                <div class="form-group name1 col-md-6">
                    <label for="date">Date</label>
                    <input type="date" name="date" id="date" class="form-control">
                </div>
                <div class="form-group name1 col-md-6">
                    <label for="loc">Location</label>
                    <input type="text" name="loc" id="loc" class="form-control" placeholder="Enter Location...">
                </div>
            </div>
        </div>

        <label for="cap">Capacity</label>
        <input type="number" name="cap" id="cap" placeholder="Choose maximum number of people allowed">

        <label for="desc">Description</label>
        <textarea name="desc" id="desc" cols="40" rows="5" placeholder="Enter Event's Description..."></textarea>

        <br><br>

        <input type="submit" value="Schedule" (click)="Create()"/>

    </form>
</div>